# build output
dist
app/renderer
target
bin/cli.*

# dependencies
node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# optional dev config file and plugins directory
.hyper.js
.hyper_plugins
.yarnrc
*.bak

.DS_Store
